
html {
    font-size: 62.5%;
    p { 
        font-size: 18px;
        color: black;
        margin: 0;
        padding: 0;
    }
    box-sizing: border-box;
}

[class^="col-"] {
    margin-left: 0 !important;
    margin-right: 0 !important;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.container-fluid {
    padding-left: 2rem !important;
    padding-right: 2rem !important;
}
