
.banner-text {
    text-align: center;
    color: white;
    position: relative;
    bottom: 16rem;
    margin-bottom: -2.5rem;
    
}
// fix spacing at right side (scroll bar was appearing)
.slick-next {
    right: 0 !important;
}