.carousel {
    &-container {
        background-color: white;
        padding: 5px 5px 0 0;
    }
    .legend {
        color: $white;
        background-color: transparent !important;
        bottom: 10px !important;
        padding: 5px !important;
        opacity: 1 !important;
    }
    &-image {
        height: 15rem;
        @media ( min-width:  550px ) {
            height: 25rem;
        }
    }
}

