header {
   
    nav.navbar {
        z-index: 1000;
        position: fixed
    ;
        background-color: $black;
        width: 100%;
        padding: 15px 15px;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
    }
    .hidden {
        opacity: 0;
        transition: all 0.5s ease-in-out;
        -webkit-transition: all 0.5s ease-in-out;
    }

    .navbar-brand { 
        color: $white !important;
        font-size: 2rem; 
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
    }
}
.basic-navbar-nav {
    border: none !important;
    outline: none !important;
}


.navbar-dark, .navbar-toggler {
    color: $white !important;
}
