.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 100;
    background: linear-gradient(to top, rgba(0,0,0,1), rgba(0,0,0,0) 25%);
    &--banner {
        background: linear-gradient(rgba(0,0,0,.3), rgba(0,0,0,.3));

    }
    &-container {
        position: relative;
    }
    &-text {
        z-index: 101;
        position: absolute;
        bottom: 0;
        left: 50%;
        transform: translateX(-50%);
        color: $white;
        &--carousel {
            bottom: 1rem;
            left: 1rem;
            transform: translate(0);
        }
    }
}